:root {
  --gray-1: #fcfcfc;
  --gray-2: #f9f9f9;
  --gray-3: #f0f0f0;
  --gray-4: #e8e8e8;
  --gray-5: #e0e0e0;
  --gray-6: #d9d9d9;
  --gray-7: #cecece;
  --gray-8: #bbbbbb;
  --gray-9: #8d8d8d;
  --gray-10: #838383;
  --gray-11: #646464;
  --gray-12: #202020;
  --gray-a-1: rgba(0, 0, 0, 0.012);
  --gray-a-2: rgba(0, 0, 0, 0.024);
  --gray-a-3: rgba(0, 0, 0, 0.055);
  --gray-a-4: rgba(0, 0, 0, 0.090);
  --gray-a-5: rgba(0, 0, 0, 0.114);
  --gray-a-6: rgba(0, 0, 0, 0.141);
  --gray-a-7: rgba(0, 0, 0, 0.180);
  --gray-a-8: rgba(0, 0, 0, 0.265);
  --gray-a-9: rgba(0, 0, 0, 0.443);
  --gray-a-10: rgba(0, 0, 0, 0.491);
  --gray-a-11: rgba(0, 0, 0, 0.600);
  --gray-a-12: rgba(0, 0, 0, 0.870);
  --blue-1: #fbfdff;
  --blue-2: #f5faff;
  --blue-3: #edf6ff;
  --blue-4: #e1f0ff;
  --blue-5: #cee7fe;
  --blue-6: #b7d9f8;
  --blue-7: #96c7f2;
  --blue-8: #5eb0ef;
  --blue-9: #0091ff;
  --blue-10: #0081f1;
  --blue-11: #006adc;
  --blue-12: #00254d;
  --blue-a-1: rgba(0, 80, 255, 0.016);
  --blue-a-2: rgba(0, 100, 255, 0.040);
  --blue-a-3: rgba(0, 116, 255, 0.071);
  --blue-a-4: rgba(0, 120, 255, 0.118);
  --blue-a-5: rgba(0, 123, 255, 0.192);
  --blue-a-6: rgba(0, 125, 255, 0.283);
  --blue-a-7: rgba(0, 127, 255, 0.412);
  --blue-a-8: rgba(0, 131, 255, 0.632);
  --blue-a-9: rgba(0, 145, 255, 1.000);
  --blue-a-10: rgba(0, 129, 241, 1.000);
  --blue-a-11: rgba(0, 106, 220, 1.000);
  --blue-a-12: rgba(0, 37, 77, 1.000);
  --green-1: #fbfefc;
  --green-2: #f2fcf5;
  --green-3: #e9f9ee;
  --green-4: #ddf3e4;
  --green-5: #ccebd7;
  --green-6: #b4dfc4;
  --green-7: #92ceac;
  --green-8: #5bb98c;
  --green-9: #30a46c;
  --green-10: #299764;
  --green-11: #18794e;
  --green-12: #153226;
  --green-a-1: rgba(0, 200, 80, 0.016);
  --green-a-2: rgba(0, 200, 80, 0.048);
  --green-a-3: rgba(0, 200, 80, 0.087);
  --green-a-4: rgba(0, 200, 80, 0.134);
  --green-a-5: rgba(0, 200, 80, 0.200);
  --green-a-6: rgba(0, 200, 80, 0.295);
  --green-a-7: rgba(0, 195, 77, 0.428);
  --green-a-8: rgba(0, 185, 74, 0.640);
  --green-a-9: rgba(0, 164, 72, 0.812);
  --green-a-10: rgba(0, 151, 67, 0.851);
  --green-a-11: rgba(0, 121, 54, 0.906);
  --green-a-12: rgba(0, 50, 23, 0.902);
  --red-1: #fffcfc;
  --red-2: #fff8f8;
  --red-3: #ffefef;
  --red-4: #ffe5e5;
  --red-5: #fdd8d8;
  --red-6: #f9c6c6;
  --red-7: #f3aeaf;
  --red-8: #eb9091;
  --red-9: #e5484d;
  --red-10: #dc3d43;
  --red-11: #cd2b31;
  --red-12: #381316;
  --red-a-1: rgba(255, 0, 0, 0.012);
  --red-a-2: rgba(255, 0, 0, 0.032);
  --red-a-3: rgba(255, 0, 0, 0.063);
  --red-a-4: rgba(255, 0, 0, 0.102);
  --red-a-5: rgba(255, 0, 0, 0.153);
  --red-a-6: rgba(255, 0, 0, 0.224);
  --red-a-7: rgba(255, 0, 0, 0.318);
  --red-a-8: rgba(254, 0, 0, 0.436);
  --red-a-9: rgba(229, 0, 0, 0.718);
  --red-a-10: rgba(220, 0, 0, 0.761);
  --red-a-11: rgba(205, 0, 0, 0.832);
  --red-a-12: rgba(56, 19, 22, 1.000);
  --yellow-1: #fdfdf9;
  --yellow-2: #fffce8;
  --yellow-3: #fffbd1;
  --yellow-4: #fff8bb;
  --yellow-5: #fef2a4;
  --yellow-6: #f9e68c;
  --yellow-7: #efd36c;
  --yellow-8: #e4b84d;
  --yellow-9: #ffe629;
  --yellow-10: #ffdc00;
  --yellow-11: #9e6c00;
  --yellow-12: #2e2000;
  --yellow-a-1: rgba(212, 212, 0, 0.024);
  --yellow-a-2: rgba(255, 255, 0, 0.094);
  --yellow-a-3: rgba(255, 255, 0, 0.181);
  --yellow-a-4: rgba(255, 251, 0, 0.267);
  --yellow-a-5: rgba(255, 244, 0, 0.357);
  --yellow-a-6: rgba(255, 231, 0, 0.451);
  --yellow-a-7: rgba(255, 214, 0, 0.577);
  --yellow-a-8: rgba(255, 202, 0, 0.698);
  --yellow-a-9: rgba(255, 230, 41, 1.000);
  --yellow-a-10: rgba(255, 220, 0, 1.000);
  --yellow-a-11: rgba(158, 108, 0, 1.000);
  --yellow-a-12: rgba(46, 32, 0, 1.000);
  --orange-1: #fefdfb;
  --orange-2: #fef8f4;
  --orange-3: #fff1e7;
  --orange-4: #ffe8d7;
  --orange-5: #ffdcc3;
  --orange-6: #ffcca7;
  --orange-7: #ffb381;
  --orange-8: #ff923d;
  --orange-9: #ff8b3e;
  --orange-10: #ff801f;
  --orange-11: #e36f00;
  --orange-12: #331e0b;
  --orange-a-1: rgba(208, 144, 0, 0.016);
  --orange-a-2: rgba(255, 138, 0, 0.047);
  --orange-a-3: rgba(255, 138, 0, 0.102);
  --orange-a-4: rgba(255, 136, 0, 0.169);
  --orange-a-5: rgba(255, 129, 0, 0.236);
  --orange-a-6: rgba(255, 121, 0, 0.346);
  --orange-a-7: rgba(255, 112, 0, 0.495);
  --orange-a-8: rgba(255, 102, 0, 0.759);
  --orange-a-9: rgba(255, 139, 62, 1.000);
  --orange-a-10: rgba(255, 128, 31, 1.000);
  --orange-a-11: rgba(227, 111, 0, 1.000);
  --orange-a-12: rgba(51, 30, 11, 1.000);
  --purple-1: #fefcfe;
  --purple-2: #fbf7fe;
  --purple-3: #f7edfe;
  --purple-4: #f2e2fc;
  --purple-5: #ead5f9;
  --purple-6: #e0c4f4;
  --purple-7: #d1afec;
  --purple-8: #be93e4;
  --purple-9: #8e4ec6;
  --purple-10: #8445bc;
  --purple-11: #793aaf;
  --purple-12: #2b0e44;
  --purple-a-1: rgba(192, 0, 192, 0.012);
  --purple-a-2: rgba(178, 0, 255, 0.036);
  --purple-a-3: rgba(165, 0, 255, 0.074);
  --purple-a-4: rgba(157, 0, 255, 0.126);
  --purple-a-5: rgba(146, 0, 255, 0.189);
  --purple-a-6: rgba(139, 0, 255, 0.267);
  --purple-a-7: rgba(130, 0, 255, 0.373);
  --purple-a-8: rgba(124, 0, 255, 0.510);
  --purple-a-9: rgba(98, 0, 198, 0.695);
  --purple-a-10: rgba(92, 0, 188, 0.729);
  --purple-a-11: rgba(82, 0, 175, 0.792);
  --purple-a-12: rgba(32, 0, 68, 0.924);
}

.dark {
  --gray-1: #111111;
  --gray-2: #191919;
  --gray-3: #222222;
  --gray-4: #2a2a2a;
  --gray-5: #313131;
  --gray-6: #3a3a3a;
  --gray-7: #484848;
  --gray-8: #606060;
  --gray-9: #6c6c6c;
  --gray-10: #7b7b7b;
  --gray-11: #b4b4b4;
  --gray-12: #eeeeee;
  --gray-a-1: rgba(255, 255, 255, 0.065);
  --gray-a-2: rgba(255, 255, 255, 0.095);
  --gray-a-3: rgba(255, 255, 255, 0.135);
  --gray-a-4: rgba(255, 255, 255, 0.165);
  --gray-a-5: rgba(255, 255, 255, 0.195);
  --gray-a-6: rgba(255, 255, 255, 0.225);
  --gray-a-7: rgba(255, 255, 255, 0.285);
  --gray-a-8: rgba(255, 255, 255, 0.375);
  --gray-a-9: rgba(255, 255, 255, 0.425);
  --gray-a-10: rgba(255, 255, 255, 0.485);
  --gray-a-11: rgba(255, 255, 255, 0.705);
  --gray-a-12: rgba(255, 255, 255, 0.930);
  --blue-1: #0f1720;
  --blue-2: #0f1b2d;
  --blue-3: #10243e;
  --blue-4: #102a4c;
  --blue-5: #0f3058;
  --blue-6: #0d3868;
  --blue-7: #0a4481;
  --blue-8: #0954a5;
  --blue-9: #0091ff;
  --blue-10: #369eff;
  --blue-11: #52a9ff;
  --blue-12: #eaf6ff;
  --blue-a-1: rgba(0, 155, 255, 0.067);
  --blue-a-2: rgba(0, 180, 255, 0.114);
  --blue-a-3: rgba(31, 198, 255, 0.165);
  --blue-a-4: rgba(49, 201, 255, 0.208);
  --blue-a-5: rgba(51, 199, 255, 0.247);
  --blue-a-6: rgba(47, 196, 255, 0.304);
  --blue-a-7: rgba(42, 192, 255, 0.396);
  --blue-a-8: rgba(38, 192, 255, 0.536);
  --blue-a-9: rgba(0, 145, 255, 1.000);
  --blue-a-10: rgba(54, 158, 255, 1.000);
  --blue-a-11: rgba(82, 169, 255, 1.000);
  --blue-a-12: rgba(234, 246, 255, 1.000);
  --green-1: #0d1912;
  --green-2: #0c1f17;
  --green-3: #0f291e;
  --green-4: #113123;
  --green-5: #133929;
  --green-6: #164430;
  --green-7: #1b543a;
  --green-8: #236e4a;
  --green-9: #30a46c;
  --green-10: #3cb179;
  --green-11: #4cc38a;
  --green-12: #e5fbeb;
  --green-a-1: rgba(0, 255, 130, 0.051);
  --green-a-2: rgba(0, 255, 130, 0.122);
  --green-a-3: rgba(33, 255, 142, 0.161);
  --green-a-4: rgba(50, 255, 148, 0.196);
  --green-a-5: rgba(55, 255, 151, 0.224);
  --green-a-6: rgba(58, 255, 152, 0.268);
  --green-a-7: rgba(60, 255, 154, 0.331);
  --green-a-8: rgba(58, 255, 153, 0.432);
  --green-a-9: rgba(48, 255, 149, 0.644);
  --green-a-10: rgba(60, 255, 156, 0.695);
  --green-a-11: rgba(76, 255, 166, 0.765);
  --green-a-12: rgba(229, 251, 235, 1.000);
  --red-1: #1f1315;
  --red-2: #291415;
  --red-3: #3c181a;
  --red-4: #481a1d;
  --red-5: #541b1f;
  --red-6: #671e22;
  --red-7: #822025;
  --red-8: #aa2429;
  --red-9: #e5484d;
  --red-10: #f2555a;
  --red-11: #ff6369;
  --red-12: #feecee;
  --red-a-1: rgba(255, 81, 121, 0.122);
  --red-a-2: rgba(255, 81, 121, 0.161);
  --red-a-3: rgba(255, 72, 93, 0.235);
  --red-a-4: rgba(255, 59, 72, 0.282);
  --red-a-5: rgba(255, 55, 60, 0.329);
  --red-a-6: rgba(255, 62, 51, 0.403);
  --red-a-7: rgba(255, 60, 46, 0.510);
  --red-a-8: rgba(255, 59, 48, 0.666);
  --red-a-9: rgba(255, 72, 77, 0.898);
  --red-a-10: rgba(255, 85, 90, 0.949);
  --red-a-11: rgba(255, 99, 105, 1.000);
  --red-a-12: rgba(254, 236, 238, 1.000);
  --yellow-1: #1c1500;
  --yellow-2: #221a00;
  --yellow-3: #2b2400;
  --yellow-4: #322d00;
  --yellow-5: #3b3600;
  --yellow-6: #484200;
  --yellow-7: #5c5200;
  --yellow-8: #7a6900;
  --yellow-9: #ffe629;
  --yellow-10: #ffff00;
  --yellow-11: #f5e147;
  --yellow-12: #f9f2d9;
  --yellow-a-1: rgba(255, 212, 0, 0.110);
  --yellow-a-2: rgba(255, 212, 0, 0.133);
  --yellow-a-3: rgba(255, 224, 0, 0.169);
  --yellow-a-4: rgba(255, 229, 0, 0.196);
  --yellow-a-5: rgba(255, 231, 0, 0.232);
  --yellow-a-6: rgba(255, 238, 0, 0.282);
  --yellow-a-7: rgba(255, 243, 0, 0.361);
  --yellow-a-8: rgba(255, 249, 0, 0.478);
  --yellow-a-9: rgba(255, 230, 41, 1.000);
  --yellow-a-10: rgba(255, 255, 0, 1.000);
  --yellow-a-11: rgba(255, 228, 77, 0.898);
  --yellow-a-12: rgba(255, 247, 222, 0.976);
  --orange-1: #1f1206;
  --orange-2: #2b1400;
  --orange-3: #391a03;
  --orange-4: #441f04;
  --orange-5: #4f2305;
  --orange-6: #602b08;
  --orange-7: #763908;
  --orange-8: #a14c09;
  --orange-9: #ff8b3e;
  --orange-10: #ff9c55;
  --orange-11: #ffa968;
  --orange-12: #ffecdb;
  --orange-a-1: rgba(255, 146, 40, 0.122);
  --orange-a-2: rgba(255, 120, 0, 0.169);
  --orange-a-3: rgba(255, 136, 28, 0.224);
  --orange-a-4: rgba(255, 142, 31, 0.268);
  --orange-a-5: rgba(255, 143, 35, 0.311);
  --orange-a-6: rgba(255, 149, 41, 0.377);
  --orange-a-7: rgba(255, 155, 42, 0.465);
  --orange-a-8: rgba(255, 162, 45, 0.632);
  --orange-a-9: rgba(255, 139, 62, 1.000);
  --orange-a-10: rgba(255, 156, 85, 1.000);
  --orange-a-11: rgba(255, 169, 104, 1.000);
  --orange-a-12: rgba(255, 236, 219, 1.000);
  --purple-1: #1b141d;
  --purple-2: #221527;
  --purple-3: #301a3a;
  --purple-4: #3a1e48;
  --purple-5: #432155;
  --purple-6: #4e2667;
  --purple-7: #5f2d84;
  --purple-8: #7938b2;
  --purple-9: #8e4ec6;
  --purple-10: #9d5bd2;
  --purple-11: #bf7af0;
  --purple-12: #f7ecfc;
  --purple-a-1: rgba(182, 121, 255, 0.114);
  --purple-a-2: rgba(187, 125, 255, 0.153);
  --purple-a-3: rgba(192, 127, 255, 0.228);
  --purple-a-4: rgba(194, 128, 255, 0.282);
  --purple-a-5: rgba(195, 129, 255, 0.333);
  --purple-a-6: rgba(198, 131, 255, 0.403);
  --purple-a-7: rgba(201, 133, 255, 0.516);
  --purple-a-8: rgba(204, 139, 255, 0.698);
  --purple-a-9: rgba(196, 127, 255, 0.776);
  --purple-a-10: rgba(201, 133, 255, 0.823);
  --purple-a-11: rgba(212, 153, 255, 0.941);
  --purple-a-12: rgba(247, 236, 252, 1.000);
}

:root, .dark {
  --black-a-1: rgba(0, 0, 0, 0.05);
  --black-a-2: rgba(0, 0, 0, 0.10);
  --black-a-3: rgba(0, 0, 0, 0.15);
  --black-a-4: rgba(0, 0, 0, 0.20);
  --black-a-5: rgba(0, 0, 0, 0.30);
  --black-a-6: rgba(0, 0, 0, 0.40);
  --black-a-7: rgba(0, 0, 0, 0.50);
  --black-a-8: rgba(0, 0, 0, 0.60);
  --black-a-9: rgba(0, 0, 0, 0.70);
  --black-a-10: rgba(0, 0, 0, 0.80);
  --black-a-11: rgba(0, 0, 0, 0.90);
  --black-a-12: rgba(0, 0, 0, 0.95);
  --white-a-1: rgba(255, 255, 255, 0.05);
  --white-a-2: rgba(255, 255, 255, 0.10);
  --white-a-3: rgba(255, 255, 255, 0.15);
  --white-a-4: rgba(255, 255, 255, 0.20);
  --white-a-5: rgba(255, 255, 255, 0.30);
  --white-a-6: rgba(255, 255, 255, 0.40);
  --white-a-7: rgba(255, 255, 255, 0.50);
  --white-a-8: rgba(255, 255, 255, 0.60);
  --white-a-9: rgba(255, 255, 255, 0.70);
  --white-a-10: rgba(255, 255, 255, 0.80);
  --white-a-11: rgba(255, 255, 255, 0.90);
  --white-a-12: rgba(255, 255, 255, 0.95);
}
